<!DOCTYPE html> 

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie_style.css') }}">
  
  <title>Movie Recommender</title>
</head>

<body>
    <h1>Movie Recommender</h1>
    <div style="text-align:center">
        <nav>
          <a href="{{ url_for('about') }}">About the creators</a>
        </nav>
    </div>
    <div class="category__box">
        <form action="/recommend" method="POST">
            <label for="genre">Genre:</label>
            <select id="genre" name="genre">
                <option value="" disabled selected hidden>Choose a genre</option>
                <option value="action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <!-- Add more here -->
            </select>
            <br>

            <div class="slider__container">
                <div class="rating">
                    <label for="ratingSlider">Rating Limit:</label>
                    <input type="range" min="0" max="10" value="10" id="ratingSlider" step="0.1">
                    <span id="rating"></span>
                </div>
                
                <div class="yearSliders">
                    <label for="minSlider">Min Year:</label>
                    <input type="range" min="1970" max="2023" value="1970" id="minSlider" step="1">
                    <span id="minYear"></span>
                    <br>

                    <label for="maxSlider">Max Year:</label>
                    <input type="range" min="1970" max="2023" value="2023" id="maxSlider" step="1">
                    <span id="maxYear"></span>
                </div>
                <br>
            </div>
            <input type="submit" value="Get Recommendations!">
            
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/movie_script.js') }}"></script>
</body>