body{
    background-color: lightblue;
}

/* Year sliders */
.yearSliders {
    display: flex;
    align-items: center;
  }
  
  .yearSliders label {
    margin-right: 10px;
  }
  
  .yearSliders input[type="range"] {
    width: 200px;
    cursor: pointer;
  }
  
  .yearSliders input[type="range"]:not(:last-child) {
    margin-right: 10px; /* Add desired gap between sliders */
  }
  
  .yearSliders input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
  }
  
  .yearSliders input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
  }
  
  .yearSliders input[type="range"]::-moz-range-thumb:hover,
  .yearSliders input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #2E8B57;
  }
  
  


/* Submit button */
input[type="submit"] {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: blue; /* Set the initial background color */
    color: white; /* Set the initial text color */
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: green; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor style on hover */
}